/.pytest_cache
/.venv
/.vscode
/chat.pickle
/competition.pickle
/config_empty.py
/telegram-bot.pickle
/test.http
/TestBotSession.session
/testchat-01-11-2023.session
/testchat-01-11-2023.session-journal
/testchat-02-11-2023.session
/testchat-02-11-2023.session-journal
/testchat-06-11-2023.session
/testchat-06-11-2023.session-journal
/testchat-07-11-2023.session
/testchat-07-11-2023.session-journal
/testchat-08-11-2023.session
/testchat-08-11-2023.session-journal
/testchat-09-11-2023.session
/testchat-11-11-2023.session
/z3bx3d.session
/z3bx3d.session-journal
/__pycache__